
<div class="container-fluid ">
<div class="row">
  <div class="col-sm-12 total">
    <span>Total amount:</span> 
    <span>&#36;<%= obj.sum{|contribution| contribution.amount} %></span>
  </div>
    


  <div class="container-fluid ">
    <div class="row row-cols-1 row-cols-md-3 g-4" > 

    <% obj.each do |contribution| %>
    <div class="col">
      <div class="card text-white bg-dark h-100">
        <div class="col-md-5">
          <%= show_image(contribution)%>
          <div class="col-md-7">
          <div class="card-body">
            <h3>Title: <%= contribution.name %></h3>
            <p class= 'card-title'> Author: <%= contribution.author.username %></p>
            <p class="card-text">Amount: <%= contribution.amount %></p>
          
            <p class="card-text"><small class="text-muted">Created on: <%= contribution.created_at.day %>-<%= contribution.created_at.month %>-<%= contribution.created_at.year %> </small></p>
          </div>
        </div>
      </div>
    </div>  
    </div>
      <% end %>
  </div>
</div>
</div>
